/* ---- FOR LARGE SCREENS -----*/
@media screen and (min-width: 600px) {
    .container {
        display: flex;
        flex-flow: column;
        width: 80%;
        margin: 0px auto;
    }

    .offers-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .offers-header {
            padding-left: 10px;
            font-family: $fontFamily;
            width: 80%;
            color: $blueColor;
        }

        .offers-btn {
            width: 20%;
            margin-top: 25px;
            text-align: center;

            .btn-link {
                width: 100%;
                height: 100%;
                border-style: none;
                font-family: $fontFamily;
            }
        }
    }

    .tabular-nav {
        display: flex;
        flex-flow: row;
        padding-bottom: 0.1em;

        div {
            padding: 10px;
            font-family: $fontFamily;

            a {
                text-decoration: none;
            }
        }
    }

    .tabular-nav > div > .active {
        background-color: deepskyblue;
    }

    #parent {
        display: flex;
        flex-flow: column;
    }

    .carousel ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0px;
        padding-left: 0px;
        list-style-type: none;
        /*border-style: dotted;*/
        padding: 10px;

        li {
            width: 30%;
            padding: 20px;

            button {
                border: none;
                background-color: transparent;

                span {
                    display: none;
                }
            }
        }
    }

    .dealfinder-header {
        background-color: $greyColor;
        color: #fff;
        padding-left: 1em;
        font-size: 0.8rem;
        font-family: $fontFamily;
        font-weight: 600;
    }

    .dealfinder {
        display: flex;
        flex-direction: row;
        height: 35px;
        padding: 10px;

        .dealfinder-search-bar {
            width: 100%;

            #searchDealBar {
                width: 75%;
                font-family: $fontFamily;
                padding-right: 2em;
                border-style: groove;
                margin-right: 2em;
                padding: 5px;
                color: #757575;
                font-size: 1rem;
            }

            #searchDeals {
                display: none;
            }

            .dealfinder-search-btn {
                width: 10%;
                background-color: #285e86;
                color: white;
                border-style: none;
                height: 100%;
                padding: 0px;
            }
        }
    }

}

/* ---- FOR Smaller SCREENS -----*/
@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-flow: column;
        width: 95%;
        margin: 0px auto;
    }

    .offers-div {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;

        .offers-header {
            position: relative;
            float: left;
            padding-left: 1.5em;
            vertical-align: middle;
            padding-left: 10px;
            font-family: $fontFamily;
            width: 80%;
            color: $blueColor;
        }

        .offers-btn {
            width: 20%;
            margin-top: 35px;

            .btn-link {
                width: 100%;
                height: 100%;
                border-style: none;
                font-family: $fontFamily;
            }
        }
    }

    .tabular-nav {
        display: flex;
        flex-flow: row;
        padding-bottom: 0.1em;

        div {
            padding: 10px;
            font-family: $fontFamily;

            a {
                text-decoration: none;
            }
        }
    }

    .tabular-nav > div > .active {
        background-color: deepskyblue;
    }

    #parent {
        display: flex;
        flex-flow: column;
    }

    .carousel ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
        padding-left: 0px;
        list-style-type: none;
        padding: 10px;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        width: 80%;

        li {
            margin-bottom: 0.5em;
            margin: 0px auto;

            button {
                border: none;
                background-color: transparent;

                span {
                    display: none;
                }
            }
        }
    }

    .dealfinder-header {
        background-color: $greyColor;
        color: #fff;
        padding-left: 1em;
        font-size: 0.800rem;
        font-family: $fontFamily;
        font-weight: 600;
    }

    .dealfinder {
        display: flex;
        flex-direction: row;
        height: 35px;
        padding: 10px;

        .dealfinder-search-bar {
            width: 100%;

            #searchDealBar {
                width: 75%;
                font-family: $fontFamily;
                padding-right: 2em;
                border-style: groove;
                padding: 5px;
                color: #757575;
                font-size: 1rem;
            }

            #searchDeals {
                display: none;
            }

            .dealfinder-search-btn {
                width: 20%;
                background-color: #285e86;
                color: white;
                border-style: none;
                height: 100%;
                padding: 0px;
            }
        }
    }

}