/* Footer CSS */
footer {
    -ms-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    display: flex;
    background-color: $blueColor;
    padding: 2px;
    margin-top: 2em;
}

footer > div {
    justify-content: flex-start;
    flex-wrap: nowrap;
}

footer h3 {
    color: $whiteColor;
    padding-left: 5px;
    padding-bottom: 2px;
}

footer a {
    color: $whiteColor;
    text-decoration: none;
    padding: 2px;
}

footer ul {
    list-style-type: none;
    padding: 3px;
}

footer ul li {
    padding: 3px;
}

footer button {
    color: $whiteColor;
    border-color: transparent;
    background-color: transparent;
    fontFamily: $fontFamily;
}

.footer-navigation-links-left, .footer-navigation-links-right {
    float: left;
    min-height: 250px;
}

.footer-navigation-links-left {
    width: 40%;
    background-color: $blueColor;
}

.footer-navigation-links-right {
    width: 59%;
    background-color: $blueColor;
}