/* Footer CSS */
footer {
    flex: 0 1 auto;
    display: flex;
    background-color: $blueColor;
    padding: 2px;
    margin-top: 2em;

    div {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    h3 {
        color: $whiteColor;
        padding-left: 5px;
        padding-bottom: 2px;
    }

    a {
        color: $whiteColor;
        text-decoration: none;
        padding: 2px;
    }

    ul {
        list-style-type: none;
        padding: 3px;
    }

    ul li {
        padding: 3px;
    }

    button {
        color: $whiteColor;
        border-color: transparent;
        background-color: transparent;
        fontFamily: $fontFamily;
    }
}


.footer-main-nav, .footer-other-links {
    float: left;
    min-height: 250px;
}

.footer-main-nav {
    width: 40%;
    background-color: $blueColor;
}

.footer-other-links {
    width: 59%;
    background-color: $blueColor;
}