/* Navbar CSS */
nav {
    justify-content: flex-start;
}

/* ---- FOR SMALL SCREENS ----- */
@media screen and (max-width: 992px) {
    .header-branding, .header-member-info, #rightcolumn {
        justify-content: flex-start;
    }

    .header-branding {
        width: 100%;
    }

    .header-member-info {
        width: 100%;
        height: 100px;
        padding-right: 6px;
    }

    .header-member-info-content {
        height: 50%;
        margin-top: 2px;
    }

    .header-member-info-content span {
        justify-content: flex-start;
        padding-left: 5px;
    }

    .member-navigation {
        float: left;
        height: 50%
    }

    .member-navigation ul li {
        list-style-type: none;
        display: inline-block;
        padding-right: 4px;
    }

    .member-navigation ul li a {
        text-decoration: none;
        color: $blue-background-color;
        font-size: .85em;
    }

    #rightcolumn {
        width: 100%;
    }

    .header-itinerary {
        text-align: left;
        padding: 0;
        border: 0;
        height: 40px;
        position: relative;
        top: 0;
        width: 99%;
        font-size: 1em;
        width: 100%;
    }

    nav ul {
        margin-top: 0px;
        padding-left: 0px;
        margin-left: 0px;
        list-style-type: none;
        line-height: 1.5;
    }

    nav ul li {
        display: inline-block;
        margin: 1px;
        padding: 2px;
        font-size: 18px;
        background-color: $white-color;
        width: 100%;
        vertical-align: top;
    }

    nav ul li ul {
        display: none;
        margin: 5px;
        font-size: 18px;
    }

    nav > ul > li > a:focus {
        background-color: transparent;
        border: 1px solid black;
    }

    nav ul li a, nav ul li ul li a {
        color: $blue-background-color;
        text-decoration: none;
    }
}

/* ---- FOR LARGE SCREENS -----*/
@media screen and (min-width: 600px) {
    .header-branding, .header-member-info, #rightcolumn {
        border-bottom: 1px solid black;
        float: left;
        min-height: 90px;
    }

    .header-branding {
        width: 29%;
    }

    .header-member-info {
        width: 60%;
        height: 90px;
        padding-right: 6px;
    }

    .header-member-info-content {
        height: 50%;
        margin-top: 2px;
    }

    .header-member-info-content span {
        float: right;
    }

    .member-navigation {
        float: right;
        height: 50%
    }

    .member-navigation ul li {
        list-style-type: none;
        display: inline-block;
        padding-right: 4px;
    }

    .member-navigation ul li a {
        text-decoration: none;
        color: $blue-background-color;
        font-size: .85em;
    }

    #rightcolumn {
        width: 10%;
    }

    .header-itinerary {
        text-align: center;
        background-color: $blue-background-color;
        color: #fff;
        line-height: 5rem;
        padding: 0;
        padding-left: 3%;
        padding-right: 2%;
        border: 0;
        height: 90px;
        position: relative;
        top: 0;
        width: 100%;
        font-size: 1em;
    }

    nav ul {
        margin-top: 0px;
        padding-left: 0px;
        margin-left: 0px;
        list-style-type: none;
        line-height: 1.42857143;
    }

    nav ul li {
        display: inline-block;
        margin: 1px;
        padding: 2px;
        font-size: 18px;
        background-color: $white-color;
        vertical-align: top;
    }

    nav > ul > li > a:focus {
        background-color: transparent;
        border: 1px solid $blue-background-color;
    }

    nav ul li ul {
        display: none;
        margin: 5px;
        font-size: 18px;
    }

    nav ul li a, nav ul li ul li a {
        color: $blue-background-color;
        text-decoration: none;
    }
}
