/* Navbar CSS */
header {
    border-bottom: 1px solid $darkGrey;
    display: flex;
    justify-content: space-between;

    .header-logo {
        flex: 1;
    }
}

nav {
    justify-content: flex-start;
}

.rightcolumn {
    width: 10%;
}

.header-member-info {
    padding-right: 20px;
    flex: 1;
    position: relative;
}

.header-member-info-content {
    margin-top: 5px;
    display: flex;
    height: 50%;
    flex-wrap: wrap;

    span {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

.member-navigation {
    position: absolute;
    bottom: 5px;
    right: 15px;

    ul {
        display: flex;

        li {
            padding: 0 0.5em;
            border-right: 1px solid $darkGrey;
        }

        a {
            color: $primaryBlue;
            font-weight: 600;
            font-size: .875em;
        }
    }
}

.header-itinerary {
    height: 100%;
    width: 100%;
}

nav {
    ul {
        display: flex;

        li {
            background-color: $white;
            vertical-align: top;

            a {
                color: $primaryBlue;
                padding: 1em;
                display: block;

                &:hover, &.selected {
                    background-color: $primaryBlue;
                    color: $white;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* ---- FOR SMALL SCREENS ----- */
@media screen and (max-width: 992px) {
}

/* ---- FOR LARGE SCREENS -----*/
@media screen and (min-width: 600px) {
}
