$grey-color: #5e5e5e;
$font-family: Open Sans,sans-serif;
$blue-background-color: #347aad;
$white-color: #FFFFFF;

@import '_flex';
@import '_header';
@import '_footer';

a:-webkit-any-link {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: $font-family;
    color: $grey-color;
}

.visually-hidden, .radio-toggle input[type='radio'] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#Flight, #Car, #Hotel, #Activity {
    display: block;
    background-color: $blue-background-color;
    padding: 10px;
    height: 200px;
    color: $white-color;
}

/* ---- FOR SMALL SCREENS ----- */
@media screen and (max-width: 992px) {
    .offers-div {
        padding-top: 2rem;
    }

    .banner {
        width: 100%;
        margin: 0 auto;
    }

    .marketing-text-banner {
        background-color: rgba(255,255,255,0.8);
    }

    .text {
        position: relative;
        float: left;
        padding-left: 1.5em;
        vertical-align: middle;
        width: 70%;
    }

    .cta {
        padding-top: 8px;
    }

    .cta button {
        position: relative;
        text-align: center;
        float: left;
        width: 18%;
        padding-right: 2.5%;
        height: 65px;
        background: #fff;
        box-shadow: 0px 0px 11px 10px #fff;
    }

    .cta button a {
        text-decoration: none;
    }
}

/* ---- FOR LARGE SCREENS -----*/
@media screen and (min-width: 600px) {
    .offers-div {
        padding-top: 2rem;
        height: 700px;
    }

    .banner {
        width: 80%;
        margin: 0 auto;
    }

    .marketing-text-banner {
        background-color: rgba(255,255,255,0.8);
    }

    .text {
        position: relative;
        float: left;
        padding-left: 1.5em;
        vertical-align: middle;
        width: 80%;
    }

    .cta {
        padding-top: 8px;
    }

    .cta button {
        position: relative;
        text-align: center;
        float: right;
        width: 13%;
        padding-right: 1.5%;
        height: 60px;
        background: #fff;
        box-shadow: 0px 0px 11px 10px #fff;
    }

    .cta button a {
        text-decoration: none;
    }
}

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 20px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color: $blue-background-color;
    left: auto;
    top: auto;
    width: 20%;
    height: auto;
    overflow: auto;
    margin: 0;
    padding: 1px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}