$darkGrey       :   #5E5E5E;
$lightGray      :   #757575;
$grayC          :   #CCCCCC;
$grayDe         :   #DEDEDE;
$primaryBlue    :   #347AAD;
$white          :   #FFFFFF;
$blueColor      :   #347AAD;
$darkBlue       :   #11354F;


$fontFamily     :   "Open Sans", sans-serif;
